*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--primary-font-family);
    margin: 0;
    padding: 0;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    background: var(--default-background-color);
}