*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-base);
  background: var(--background-page);
  color: var(--text-primary);
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;

  background: var(--background-page);
}
